body {
  font-family: Arial, Helvetica, sans-serif;
  padding    : 0;
  margin     : 0;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin : 0;
}



ol,
ul,
li {
  list-style: none
}

:focus {
  outline: none
}


input,
textarea,
select {

  font-size: 16px;
  color    : #4c4c4c;
}

p {
  text-align: center;
  margin-top: 5px;
  font-size : 15px;
  width     : 250px;
  display   : inline-block;

}

h1 {
  font-size    : 32px;
  font-weight  : 300;
  color        : #4c4c4c;
  text-align   : center;
  padding-top  : 10px;
  margin-bottom: 10px;
}

html {
  background: #373B44;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.registro {
  margin               : 20px auto;
  width                : 360px;
  height               : 600px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius   : 8px/7px;
  border-radius        : 8px/7px;
  background-color     : #ebebeb;
  -webkit-box-shadow   : 1px 2px 5px rgba(0, 0, 0, .31);
  -moz-box-shadow      : 1px 2px 5px rgba(0, 0, 0, .31);
  box-shadow           : 1px 2px 5px rgba(0, 0, 0, .31);
  border               : solid 1px #cbc9c9;
}

.login {
  margin               : 40px auto;
  width                : 430px;
  height               : 420px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius   : 8px/7px;
  border-radius        : 8px/7px;
  background-color     : #ebebeb;
  -webkit-box-shadow   : 1px 2px 5px rgba(0, 0, 0, .31);
  -moz-box-shadow      : 1px 2px 5px rgba(0, 0, 0, .31);
  box-shadow           : 1px 2px 5px rgba(0, 0, 0, .31);
  border               : solid 1px #cbc9c9;
}



.pregunta {
  margin-left: 45px;
}

.npregunta {
  margin-left: 65px;
}




form {
  margin: 0 35px;
}

hr {
  color  : #a9a9a9;
  opacity: 0.3;
}

input[type=email],
input[type=text],
input[type=password] {
  width                : 200px;
  height               : 35px;
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  -moz-border-radius   : 0px 4px 4px 0px/0px 0px 4px 4px;
  border-radius        : 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color     : #fff;
  -webkit-box-shadow   : 1px 2px 5px rgba(0, 0, 0, .09);
  -moz-box-shadow      : 1px 2px 5px rgba(0, 0, 0, .09);
  box-shadow           : 1px 2px 5px rgba(0, 0, 0, .09);
  border               : solid 1px #cbc9c9;
  margin-left          : -5px;
  margin-top           : 13px;
  padding-left         : 10px;
}

.rpassword {
  margin-bottom: 25px;
}

.icon {
  display              : inline-block;
  width                : 30px;
  background-color     : #3a57af;
  padding              : 8px 0px 8px 15px;
  margin-left          : 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius   : 4px 0px 0px 4px;
  border-radius        : 4px 0px 0px 4px;
  color                : white;
  -webkit-box-shadow   : 1px 2px 5px rgba(0, 0, 0, .09);
  -moz-box-shadow      : 1px 2px 5px rgba(0, 0, 0, .09);
  box-shadow           : 1px 2px 5px rgba(0, 0, 0, .09);
  border               : solid 0px #cbc9c9;
}


.button {
  left                 : 30px;
  font-size            : 14px;
  font-weight          : 600;
  color                : white;
  padding              : 6px 25px 0px 20px;
  margin               : 10px 8px 20px 0px;
  display              : inline-block;
  text-decoration      : none;
  width                : 100px;
  height               : 27px;
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  background-color     : #3a57af;
  -webkit-box-shadow   : 0 3px rgba(58, 87, 175, .75);
  -moz-box-shadow      : 0 3px rgba(58, 87, 175, .75);
  box-shadow           : 0 3px rgba(58, 87, 175, .75);
  transition           : all 0.1s linear 0s;
  top                  : 0px;
  position             : relative;
}

.button:hover {
  top               : 3px;
  background-color  : #2e458b;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  box-shadow        : none;

}