<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style_dashboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/normalize.css') }}">
    <link rel="stylesheet" type="text/css"
        href="/static/css/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css"
        href="/static/css/material-design-iconic-font/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_reserva.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_footer.css') }}">
    <title>Realizar Comentario</title>
</head>

<body>

    <div class="container_general">
        <div class="container_navigation">
            <div class="header">
                <span class="name_icon"><i class="zmdi zmdi-account zmdi-hc-3x"></i></span><span class="name_title">
                    <h2 id="perfil">Usuario</h2>
                </span>
            </div>
            <ul>
                <li>
                    <div class="sub_menu"><span class="name_icon"><i class="zmdi zmdi-hotel zmdi-hc-2x"></i></span>
                        <span class="name_title">Habitaciones</span>
                    </div>
                    <div class="sub_menu_list">
                        <ul>
                            <li><a href="{{url_for('buscarHabitacion')}}"><span class="name_icon"><i
                                            class="zmdi zmdi-check zmdi-hc-1x"></i></span><span
                                        class="name_title">Buscar Habitaciones</span></a></li>
                            <li><a href="{{url_for('reserva')}}"><span class="name_icon"><i
                                            class="zmdi zmdi-check zmdi-hc-1x"></i></span><span
                                        class="name_title">Reservar Habitacion</span></a></li>
                            <li><a href="#"><span class="name_icon"><i
                                            class="zmdi zmdi-check zmdi-hc-1x"></i></span><span
                                        class="name_title">Buscar Reserva</span></a></li>
                            <li><a href="#"><span class="name_icon"><i
                                            class="zmdi zmdi-check zmdi-hc-1x"></i></span><span
                                        class="name_title">Editar Reserva</span></a></li>
                            <li><a href="#"><span class="name_icon"><i
                                            class="zmdi zmdi-check zmdi-hc-1x"></i></span><span
                                        class="name_title">Eliminar Reserva</span></a></li>
                            <li><a href="{{url_for('comentario')}}"><span class="name_icon"><i
                                            class="zmdi zmdi-check zmdi-hc-1x"></i></span><span
                                        class="name_title">Agregar Comentario</span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <span class="name_icon"><i class="zmdi zmdi-power zmdi-hc-2x"></i></span>
                        <span class="name_title">Cerrar Sesion</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="container_main">
            <div class="container_topbar">
                <div class="container_toggle"></div>
                <div class="container_name_user">{{data}}</div>
                <div class="container_user"><a href="#"><i class="zmdi zmdi-account-box  zmdi-hc-3x"></i></a></div>
            </div>
            <div class="container_sub_main">
                <div class="container_form">
                    <form>
                        <h1>Comentarios</h1>
                        <div class="search_container_crud_comment"></div>
                        <!-- Sección que muestra al buscar la habitación-->
                        <div class="container_read_comment">
                            <fieldset>
                                <div class="container_information_comment">
                                    <label>¿Tu reservación se vio afectada por el coronavirus (COVID-19)?:</label>
                                </div>
                                <div class="container_information_comment_answer">
                                    <label>Si</label><input class="radio_button" type="radio" name="calificacion"
                                        value="1">
                                    <label>No</label><input class="radio_button" type="radio" name="calificacion"
                                        value="2">
                                </div>
                            </fieldset>
                        </div>
                        <div class="container_select_comment">
                            <fieldset>
                                <legend></legend>
                                <div class="container_qualification_comment">
                                    <div class="comment_start_outline">
                                        <span class="comment_start"><i
                                                class="zmdi zmdi-star-outline zmdi-hc-2x"></i></span>
                                    </div>
                                    <div class="comment_start_outline">
                                        <span class="comment_start"><i
                                                class="zmdi zmdi-star-outline zmdi-hc-2x"></i></span>
                                    </div>
                                    <div class="comment_start_outline">
                                        <span class="comment_start"><i
                                                class="zmdi zmdi-star-outline zmdi-hc-2x"></i></span>
                                    </div>
                                    <div class="comment_start_outline">
                                        <span class="comment_start"><i
                                                class="zmdi zmdi-star-outline zmdi-hc-2x"></i></span>
                                    </div>
                                    <div class="comment_start_outline">
                                        <span class="comment_start"><i
                                                class="zmdi zmdi-star-outline zmdi-hc-2x"></i></span>
                                    </div>
                                </div>
                                <div class="container_room_comment_range">
                                    <div class="container_room_comment_range_radio">
                                        <label>Muy insatisfecho</label><input class="radio_button" type="radio"
                                            name="calificacion" value="1">
                                    </div>
                                    <div class="container_room_comment_range_radio">
                                        <label>Insatisfecho</label><input class="radio_button" type="radio"
                                            name="calificacion" value="2">
                                    </div>
                                    <div class="container_room_comment_range_radio">
                                        <label>Neutral</label><input class="radio_button" type="radio"
                                            name="calificacion" value="3">
                                    </div>
                                    <div class="container_room_comment_range_radio">
                                        <label>Satisfecho</label><input class="radio_button" type="radio"
                                            name="calificacion" value="4">
                                    </div>
                                    <div class="container_room_comment_range_radio">
                                        <label>Muy satisfecho</label><input class="radio_button" type="radio"
                                            name="calificacion" value="5">
                                    </div>
                                </div>
                                <div class="container_room_comment_description">
                                    <label>Comentarios de la reserva:</label><textarea id="descripcion_calificacion"
                                        name="descripcion_calificacion"></textarea>
                                </div>
                            </fieldset>
                        </div>
                        <div class="container_search_comment">
                            <fieldset>
                                <div class="container_option_comment">
                                    <label>¿Que tan probable es que vuelvas a visitar el hotel?:</label>
                                    <select class="select_room" id="selectroom" name="selectroom" required>
                                        <option value="1">Opción 1-----------------------------------------</option>
                                        <option value="2">Opción 2-----------------------------------------</option>
                                        <option value="3">Opcion 3-----------------------------------------</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                        <div class="container_room_ranting_button">
                            <fieldset>
                                <div class="container_room_ranting_button_create">
                                    <button class="ranting_button" id="cread_ranting" name="cread_ranting">Registrar
                                        Comentario</button>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>

            </div>
            <!-- FOOTER -->
            <div class="footer-grids">
                <div class="footer one">
                    <h3>More About Company</h3>
                    <p> Nemo enim ipsam voluptatem quia
                        voluptas sit aspernatur aut odit aut fugit,
                        sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt.</p>
                    <p class="adam">- Patrick Victoria, CEO</p>
                    <div class="clear"></div>
                </div>
                <div class="footer two">
                    <h3>Keep Connected</h3>
                    <ul>
                        <li><a class="fb" href="#"><i></i>Like us on Facebook</a></li>
                        <li><a class="fb1" href="#"><i></i>Follow us on Twitter</a></li>
                        <li><a class="fb2" href="#"><i></i>Add us on Instagram</a></li>
                        <li><a class="fb3" href="#"><i></i>Follow us on Youtube</a></li>
                    </ul>
                </div>
                <div class="footer three">
                    <h3>Contact Information</h3>
                    <ul>
                        <li>The company name <span>Lorem ipsum dolor,</span>Glasglow Dr 40 Fe 72. </li>
                        <li>1234567890 </li>
                        <li><a href="mailto:info@example.com">contact@example.com</a> </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="copy-right-grids">
                <div class="copy-left">
                    <p class="footer-gd">© 2016 Simple Footer Widget. All Rights Reserved | Design by <a
                            href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
                </div>
                <div class="copy-right">
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js' ) }}"></script>
</body>

</html>