<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Agregar habitacion</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style_dataTables.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_buscar_y_crear.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style_dashboard.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/normalize.css') }}">
  <link rel="stylesheet" type="text/css"
    href="/static/css/material-design-iconic-font/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" type="text/css"
    href="/static/css/material-design-iconic-font/css/material-design-iconic-font.css">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_footer.css') }}">

</head>

<body>
  <div class="container_general">
    <div class="container_navigation">
      <div class="header">
        <span class="name_icon"><i class="zmdi zmdi-account zmdi-hc-3x"></i></span><span class="name_title">
          <h2>Super Administrador</h2>
        </span>
      </div>
      <ul>
        <li>
          <div class="sub_menu">
            <span class="name_icon"><i class="zmdi zmdi-accounts zmdi-hc-2x"></i></span>
            <span class="name_title">Gestionar Usuarios</span>
          </div>
          <div class="sub_menu_list">
            <ul>
              <li><a href="{{url_for('registroUsuariosSuper')}}"><span class="name_icon"><i class="zmdi zmdi-check zmdi-hc-1x"></i></span><span
                    class="name_title">Registro Usuarios</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="sub_menu"><span class="name_icon"><i class="zmdi zmdi-hotel zmdi-hc-2x"></i></span>
            <span class="name_title">Gestionar Habitaciones</span>
          </div>
          <div class="sub_menu_list">
            <ul>
              <li><a href="{{url_for('crearHabitacionSuper')}}"><span class="name_icon"><i
                      class="zmdi zmdi-check zmdi-hc-1x"></i></span><span class="name_title">Crear
                    Habitacion</span></a></li>
              <li><a href="{{url_for('EditarEliminarSuper')}}"><span class="name_icon"><i
                      class="zmdi zmdi-check zmdi-hc-1x"></i></span><span class="name_title">Editar y Eliminar
                    Habitacion</span></a></li>


            </ul>
          </div>
        </li>
        <li>
          <div class="sub_menu"><span class="name_icon"><i class="zmdi zmdi-hotel zmdi-hc-2x"></i></span>
            <span class="name_title">Gestionar Reservas</span>
          </div>
          <div class="sub_menu_list">
            <ul>
              <li><a href="#"><span class="name_icon"><i class="zmdi zmdi-check zmdi-hc-1x"></i></span><span
                    class="name_title">Ver
                    Reservas</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="sub_menu"><span class="name_icon"><i class="zmdi zmdi-hotel zmdi-hc-2x"></i></span>
            <span class="name_title">Gestionar Calificacion Habitacion</span>
          </div>
          <div class="sub_menu_list">
            <ul>
              <li><a href="{{url_for('verCalificacionHabitacionesSuper')}}"><span class="name_icon"><i class="zmdi zmdi-check zmdi-hc-1x"></i></span><span
                    class="name_title">Ver
                    Calificacion de habitaciones</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="sub_menu"><span class="name_icon"><i class="zmdi zmdi-hotel zmdi-hc-2x"></i></span>
            <span class="name_title">Gestionar Comentario </span>
          </div>
          <div class="sub_menu_list">
            <ul>
              <li><a href="{{url_for('verComentarioSuper')}}"><span class="name_icon"><i class="zmdi zmdi-check zmdi-hc-1x"></i></span><span
                    class="name_title">Ver
                    Comentario</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/cerrarSesion">
            <span class="name_icon"><i class="zmdi zmdi-power zmdi-hc-2x"></i></span>
            <span class="name_title">Cerrar Sesion</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="container_main">
      <div class="container_topbar">
        <div class="container_toggle"></div>
        <div class="container_name_user">{{data}}</div>
        <div class="container_user"><a href="#"><i class="zmdi zmdi-account-box  zmdi-hc-3x"></i></a></div>
      </div>
      <div class="container_sub_main">
        <section class="form_wrap">

          <section class="cantact_info">
            <section class="info_title">
              <span class="fa fa-user-circle"></span>
            </section>
          </section>

          <form action="" class="form_habitacion" method="post">
            <h2>Crear habitacion</h2>
            <div class="user_info">
              <p class="text-uppercase">Tipo de habitacion</p>
              <div class="form-wrap">
                <!--Select 1-->
                <div class="formwrap">
                  <select class="selectes" data-placeholder="Habitacion estandar" data-constraints="@Required"
                    name="habitacion">
                    <option>&nbsp;</option>
                    <option value="Habitacion estandar" selected>Habitacion estandar</option>
                    <option value="Habitacion junior">Habitacion junior</option>
                    <option value="Habitación senior">Habitación senior</option>
                  </select>
                </div>
              </div>

              <p class="text-uppercase">Tipo de cama</p>
              <div class="form-wrap">
                <!--Select 2-->
                <div class="formwrap">
                  <select class="selectes" data-placeholder="Habitacion Doble" data-constraints="@Required"
                    name="tipoHabitacion">
                    <option>&nbsp;</option>
                    <option value="Habitacion Doble" selected>Habitacion Doble</option>
                    <option value="Habitación doble de uso individual ">Habitación doble de uso individual </option>
                    <option value="Habitación senior">Habitación triple</option>
                  </select>
                </div>
              </div>

              <p class="text-uppercase">Sabanas</p>
              <div class="form-wrap">
                <!--Select 2-->
                <div class="formwrap">
                  <select class="selectes" data-placeholder="Algodon" data-constraints="@Required" name="sabanas">
                    <option>&nbsp;</option>
                    <option value="Algodon" selected>Algodon</option>
                    <option value="Estandar">Estandar</option>
                    <option value="Seda">Seda</option>
                    <option value="Bambu">Bambu</option>
                  </select>
                </div>
              </div>

              <p class="text-uppercase">Numero de camas</p>
              <div class="formwrap">
                <!--Select 2-->
                <select class="selectes" data-placeholder="1" data-constraints="@Required" name="numeroCamas">
                  <option>&nbsp;</option>
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <p class="text-uppercase">Servicios</p>
            <div class="formwrap">
              <!--Select 2-->
              <select class="selectes" data-placeholder="Tv con cable" data-constraints="@Required" name="servicios">
                <option>&nbsp;</option>
                <option value="Tv con cable" selected>Tv con cable</option>
                <option value="Servicio al cuarto">Servicio al cuarto</option>
                <option value="Aire acondicionado">Aire acondicionado</option>
                <option value="Ducha caliente">Ducha caliente</option>
              </select>
            </div>
            <div id="botones">
              <button type="submit" id="btnSed">Crear</button>
            </div>
          </form>
        </section>
      </div>
      <!-- FOOTER -->
      <div class="footer-grids">
        <div class="footer one">
          <h3>More About Company</h3>
          <p> Nemo enim ipsam voluptatem quia
            voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui
            ratione voluptatem sequi nesciunt.</p>
          <p class="adam">- Patrick Victoria, CEO</p>
          <div class="clear"></div>
        </div>
        <div class="footer two">
          <h3>Keep Connected</h3>
          <ul>
            <li><a class="fb" href="#"><i></i>Like us on Facebook</a></li>
            <li><a class="fb1" href="#"><i></i>Follow us on Twitter</a></li>
            <li><a class="fb2" href="#"><i></i>Add us on Instagram</a></li>
            <li><a class="fb3" href="#"><i></i>Follow us on Youtube</a></li>
          </ul>
        </div>
        <div class="footer three">
          <h3>Contact Information</h3>
          <ul>
            <li>The company name <span>Lorem ipsum dolor,</span>Glasglow Dr 40 Fe 72. </li>
            <li>1234567890 </li>
            <li><a href="mailto:info@example.com">contact@example.com</a> </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="copy-right-grids">
        <div class="copy-left">
          <p class="footer-gd">© 2016 Simple Footer Widget. All Rights Reserved | Design by <a
              href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
        </div>
        <div class="copy-right">
          <ul>
            <li><a href="#">Company Information</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q81/x+965DzO0rT7abk41JStQIAqvgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

      <!-- <script type="text/javascript" charset="utf8" src="/static/js/dataTables.js"></script> -->
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js' ) }}"></script>
      <script type="text/javascript">
        $(document).ready(function () {
          $('#example').DataTable();
        });
      </script>
</body>

</html>